<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragmento Menu de Usuario</title>
    <script src="src/main/resources/static/js/main.js" defer></script>
</head>
<body>
<div id="user-menu" th:fragment="user-menu">

    <img id="perfilFoto" th:src="@{${usuario.foto != null ? '/images/' + usuario.foto : '/images/avatar_base.jpg'}}"
         alt="Foto Usuario"/>
    <div id="dropdown-menu">
        <!-- Opción de perfil -->
        <a th:href="@{/usuarios/{id}/perfil(id=${usuario.id})}">Mi perfil</a>

        <button id="btnTicketDesplegable" onclick="document.getElementById('submenuTicket').classList.toggle('d-none');">Tickets</button>
        <div class="submenu d-none" id="submenuTicket" >
            <button id="btnNewTicket">Nuevo ticket</button>
            <button id="btnListTicket">Listar tickets</button>
        </div>
        <!-- Opción de cerrar sesión -->
        <a class="logout" th:href="@{/logout}">Cerrar sesión</a>
    </div>
</div>
<div th:replace="fragments::javascript"/>
</body>
</html>

