<!doctype html>
<html lang="en">
<head th:replace="fragments :: head (titulo='Panel Administrador - Códigos Descuento')">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:replace="__header :: body"></div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><a th:href="@{/panelAdmin/{id}(id=${userId})}">Panel Administrador</a></li>
        <li class="breadcrumb-item active" aria-current="page">Códigos Promocionales</li>
    </ol>
</nav>
<div class="container vh-100">
    <div th:if="${error}" class="alert alert-danger" role="alert">
        <p th:text="${error}"></p>
    </div>
    <section class="">
        <div class="container">
            <div class="bg-white rounded shadow-sm p-4">
                <div class="d-flex justify-content-between mb-3">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#createProductModal"
                            onclick="document.getElementById('createUserModal').classList.toggle('d-none');
                 document.getElementById('createUserModal').style.display = 'flex';
                 document.getElementById('createUserModal').style.position = 'absolute';
                 document.getElementById('createUserModal').style.zIndex = '1050';
                 document.getElementById('createUserModal').style.top = '0';
                 document.getElementById('createUserModal').style.justifyContent = 'center';
                 document.getElementById('createUserModal').style.alignItems = 'center';
                 document.getElementById('createUserModal').style.left = '0';
                 document.getElementById('createUserModal').style.right = '0';
                 document.getElementById('backgroundOverlay').classList.toggle('d-none');">
                        Nuevo Código
                    </button>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Código</th>
                        <th>Descuento</th>
                        <th>Usuario</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="codigo : ${codigos}">
                        <td th:text="${codigo.id}"></td>
                        <td th:text="${codigo.codigo}"></td>
                        <td th:text="${codigo.descuento}"></td>
                        <td th:text="${codigo.usuario.email}"></td>
                        <td>
                            <button class="btn btn-info edit-btn" data-bs-toggle="modal"
                                    th:data-bs-target="'#updateUserModal-' + ${codigo.id}"
                            >Editar
                            </button>
                            <button class="btn btn-danger del-btn" data-bs-toggle="modal"
                                    th:data-bs-target="'#deleteUserModal-' + ${codigo.id}">Borrar
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <!-- Background overlay -->
    <div id="backgroundOverlay" class="d-none"></div>

    <!-- Create Modal -->
    <div class="d-none" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 400px">
                <div class="modal-header">
                    <h5 class="modal-title" id="createUserModalLabel">Nuevo Código</h5>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            onclick="
                         document.getElementById('createUserModal').classList.toggle('d-none');
                         document.getElementById('backgroundOverlay').classList.toggle('d-none');">X
                    </button>
                </div>
                <form method="POST" th:action="@{/panelAdmin/{userId}/addCodigo(userId=${userId})}"
                      enctype="multipart/form-data">
                    <div class="modal-body">
                        <!-- Código -->
                        <div class="mb-3">
                            <label for="codigo" class="form-label">Código</label>
                            <input type="codigo" name="codigo" id="codigo" class="form-control"
                                   placeholder="Código" required>
                        </div>
                        <!-- Descuento -->
                        <div class="mb-3">
                            <label for="descuento" class="form-label">Descuento</label>
                            <input type="text" name="descuento" id="descuento" class="form-control"
                                   placeholder="Descuento" required>
                        </div>
                        <!-- Usuario -->
                        <div class="mb-3">
                            <label for="usuario" class="form-label">Usuario</label>
                            <input type="usuario" name="usuario" id="usuario" class="form-control"
                                   placeholder="Id Usuario" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                onclick="
                         document.getElementById('createUserModal').classList.toggle('d-none');
                         document.getElementById('backgroundOverlay').classList.toggle('d-none');">
                            Cerrar
                        </button>
                        <button type="submit" class="btn btn-primary">Crear Código</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Update Modal -->
    <div th:each="codigo : ${codigos}">
        <div class="d-none" th:id="'updateUserModal-' + ${codigo.id}" tabindex="-1"
             aria-labelledby="updateUserModalLabel">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 400px">
                    <div class="modal-header">
                        <h5 class="modal-title">Actualizar Código</h5>
                        <button type="button" class="btn btn-secondary close-btn" data-bs-dismiss="modal"
                                aria-label="Close">X
                        </button>
                    </div>
                    <form method="POST" th:action="@{/panelAdmin/{userId}/updateCodigo(userId=${userId})}" enctype="multipart/form-data">
                        <div class="modal-body">
                            <input type="hidden" name="idCodigoUpdate" th:value="${codigo.id}">

                            <!-- Codigo -->
                            <div class="mb-3">
                                <label for="codigo" class="form-label">Código (*)</label>
                                <input type="text" name="codigo" id="codigo" class="form-control"
                                       th:value="${codigo.codigo}" placeholder="Código">
                            </div>

                            <!-- Descuento -->
                            <div class="mb-3">
                                <label for="descuento" class="form-label">Descuento (*)</label>
                                <input type="text" name="descuento" id="descuento" class="form-control"
                                       th:value="${codigo.descuento}" placeholder="Descuento" >
                            </div>

                            <!-- Usuario -->
                            <div class="mb-3">
                                <label for="usuario" class="form-label">Usuario (*)</label>
                                <input type="text" name="usuario" id="usuario" class="form-control"
                                       th:value="${codigo.usuario.id}" placeholder="Id usuario" >
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary close-btn" data-bs-dismiss="modal">Cerrar
                            </button>
                            <button type="submit" class="btn btn-primary">Actualizar Código</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div th:each="codigo : ${codigos}">
        <div class="d-none" th:id="'deleteUserModal-' + ${codigo.id}" tabindex="-1"
             aria-labelledby="deleteUserModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmar Borrado</h5>
                        <button type="button" class="btn btn-secondary btn-close-del" data-bs-dismiss="modal"
                                aria-label="Close">X
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Estás seguro de que deseas borrar el código <strong th:text="${codigo.codigo}"></strong>?
                        </p>
                    </div>
                    <div class="modal-footer">
                        <form method="POST" th:action="@{/panelAdmin/{userId}/deleteCodigo(userId=${userId})}">
                            <input type="hidden" name="idCodigo" th:value="${codigo.id}">
                            <button type="button" class="btn btn-secondary btn-close-del" data-bs-dismiss="modal">No,
                                cancelar
                            </button>
                            <button type="submit" class="btn btn-danger">Sí, continuar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</div>
<div th:replace="__footer :: body"></div>

<div th:replace="fragments::javascript"/>
</body>
</html>