<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Inicio')"></head>

<body>
<div th:replace="__header :: body"></div>


<div class="row mt-2">
    <div class="col text-center">
        <video autoplay loop muted playsinline class="w-50 rounded shadow" style="max-width: 720px;">
            <source src="/video/videoportada.mp4" type="video/mp4">
        </video>
    </div>
</div>


<div th:replace="__footer :: body"></div>
<div th:replace="fragments::javascript"></div>

</body>
</html>
