<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head (titulo='Mis planes')">
</head>
<body>
<div th:replace="__header :: body"></div>
<div th:replace="__ticket :: body"></div>
<div th:replace="fragment_user :: user-menu"></div>

<div id="accordion" class="accordion-container">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-plan-basico w-100" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Plan Básico
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <form th:each="usuarioPlan : ${usuarioPlanes}"
                      th:action="@{/usuarios/{userId}/userhub/{id}/plan_entrenamiento(userId=${usuario?.id}, id=${usuarioPlan.plan?.id})}"
                      method="get"
                      class="form_basico">
                    <button type="submit" class="boton-imagen">
                        <img th:src="@{/images/{imagen}(imagen=${usuarioPlan.plan?.imagen} ?: 'imagen_por_defecto.jpg')}" alt="Plan de entrenamiento">
                        <div class="texto" th:text="${usuarioPlan.plan?.nombre ?: 'Plan sin nombre'}"></div>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header card-premium" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-plan-premium w-100"
                        th:attr="disabled=${usuarioPlanes[0]?.usuario?.plan?.name() != 'GOLD' and usuarioPlanes[0]?.usuario?.plan?.name() != 'PREMIUM'}"
                        data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Plan Premium
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <form th:each="plan : ${planesPremium}"
                      th:action="@{/usuarios/{userId}/userhub/{id}/plan_entrenamiento(userId=${usuario.id}, id=${plan.id})}"
                      method="get"
                      class="form_basico">
                    <button type="submit" class="boton-imagen">
                        <img th:src="@{/images/{imagen}(imagen=${plan.imagen})}" alt="Plan de entrenamiento">
                        <div class="texto" th:text="${plan.nombre}"></div>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header card-gold" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-plan-gold w-100"
                        th:attr="disabled=${usuarioPlanes[0]?.usuario?.plan?.name() != 'GOLD'}"
                        data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    Plan Gold
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <form th:each="plan : ${planesGold}"
                      th:action="@{/usuarios/{userId}/userhub/{id}/plan_entrenamiento(userId=${usuario.id}, id=${plan.id})}"
                      method="get"
                      class="form_basico">
                    <button type="submit" class="boton-imagen">
                        <img th:src="@{/images/{imagen}(imagen=${plan.imagen})}" alt="Plan de entrenamiento">
                        <div class="texto" th:text="${plan.nombre}"></div>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="__footer :: body"></div>
<div th:replace="fragments::javascript"/>
</body>
</html>
